In [21]:
import pandas as pd
import numpy as np

In [22]:
#파일 불러오기 
f_ledger = pd.read_excel('./Project_Socket_원장정리.xlsx')
del f_ledger['Unnamed: 0']

In [23]:
f_ledger

,계정명,년,월,날짜,적요란,코드,거래처,차변,대변,잔액
0,[103]보통예금,2018,NaN,NaN,전기이월,NaN,NaN,709984371.0,NaN,709984371.0
1,[103]보통예금,2018,1.0,01-01,현금입금,98069.0,신한외화117583,20000.0,NaN,710004371.0
2,[103]보통예금,2018,1.0,01-01,단기차입금에서 대체,98105.0,국민204201-04-507654,NaN,499998146.0,210006225.0
3,[103]보통예금,2018,1.0,01-02,（주）진성시스템,98001.0,기업 185-098540-04-011,148170000.0,NaN,358176225.0
4,[103]보통예금,2018,1.0,01-02,(주)위너에코텍,98105.0,국민204201-04-507654,148000000.0,NaN,506176225.0
...,...,...,...,...,...,...,...,...,...,...
84394,[964]기타보증금,2021,11.0,11-05,보증금대체상환,1858.0,주식회사 소딕코리아,NaN,30000000.0,15201120.0
84395,[964]기타보증금,2021,11.0,11-09,보증금과 상계,3139.0,롯데렌탈(주)(카니발25호2681),NaN,226414.0,14974706.0
84396,[964]기타보증금,2021,11.0,11-18,롯데렌탈(주),3139.0,롯데렌탈(주)(카니발25호2681),NaN,2818586.0,12156120.0
84397,[998]법인세등,2021,12.0,12-31,당기 미지급분 계상,NaN,NaN,944230000.0,NaN,944230000.0
84398,[998]법인세등,2021,12.0,12-31,손익계정에 대체,NaN,NaN,NaN,944230000.0,NaN

In [24]:
accounts = []
for account in f_ledger['계정명'].tolist():
    if account not in accounts:
        accounts.append(account)
    
accounts

['[103]보통예금',
 '[108]외상매출금',
 '[114]단기대여금',
 '[116]미수수익',
 '[120]미수금',
 '[131]선급금',
 '[133]선급비용',
 '[134]가지급금',
 '[135]부가세대급금',
 '[136]선납세금',
 '[146]상품',
 '[150]제품',
 '[153]원재료',
 '[168]미착품',
 '[169]재공품',
 '[176]장기성예금',
 '[178]매도가능증권',
 '[179]장기대여금',
 '[180]대손충당금',
 '[181]만기보유증권',
 '[183]해외현지법인',
 '[185]장기금융상품',
 '[198]퇴직연금운용자산',
 '[201]토지',
 '[202]건물',
 '[203]감가상각누계액',
 '[206]기계장치',
 '[207]감가상각누계액',
 '[208]차량운반구',
 '[209]감가상각누계액',
 '[210]공구와기구',
 '[211]감가상각누계액',
 '[212]비품',
 '[213]감가상각누계액',
 '[214]건설중인자산',
 '[219]시설장치',
 '[220]감가상각누계액',
 '[221]금형',
 '[222]감가상각누계액',
 '[231]영업권',
 '[232]특허권',
 '[239]개발비',
 '[251]외상매입금',
 '[253]미지급금',
 '[254]예수금',
 '[255]부가세예수금',
 '[257]주임종단기채무',
 '[259]선수금',
 '[260]단기차입금',
 '[262]미지급비용',
 '[265]미지급배당금',
 '[291]사채',
 '[293]장기차입금',
 '[294]임대보증금',
 '[295]퇴직급여충당부채',
 '[331]자본금',
 '[332]우선주자본금',
 '[341]주식발행초과금',
 '[351]이익준비금',
 '[361]상환주식의상환액',
 '[370]전기오류수정이익',
 '[371]전기오류수정손실',
 '[373]자기주식',
 '[375]이월이익잉여금',
 '[377]미처분이익잉여금',
 '[400]손익',
 '[401]상품매출',
 '[404]제품매출',
 '[411]임대료수입',
 '[413]수출매출',
 '[451]상품매출원가',
 '[455]제품매출원가',
 '[501]원재료비',
 '[504]임금',
 '[505]상여금',
 '[506]용역비',
 '[507]잡급',
 '[508]퇴직급여',
 '[511]복리후생비',
 '[512]여비교통비',
 '[516]전력비',
 '[517]세금과공과금',
 '[519]지급임차료',
 '[520]수선비',
 '[521]보험료',
 '[522]차량유지비',
 '[524]운반비',
 '[528]포장비',
 '[530]소모품비',
 '[531]지급수수료',
 '[533]외주가공비',
 '[801]임원급여',
 '[802]직원급여',
 '[803]상여금',
 '[811]복리후생비',
 '[812]여비교통비',
 '[813]접대비',
 '[814]통신비',
 '[815]수도광열비',
 '[817]세금과공과금',
 '[818]감가상각비',
 '[819]지급임차료',
 '[820]수선비',
 '[821]보험료',
 '[822]차량유지비',
 '[823]경상연구개발비',
 '[825]교육훈련비',
 '[826]도서인쇄비',
 '[829]사무용품비',
 '[830]소모품비',
 '[831]지급수수료',
 '[837]건물관리비',
 '[850]리스료',
 '[901]이자수익',
 '[907]외환차익',
 '[908]대손충당금환입',
 '[910]외화환산이익',
 '[914]유형자산처분이익',
 '[930]잡이익',
 '[931]이자비용',
 '[932]외환차손',
 '[933]기부금',
 '[935]외화환산손실',
 '[950]유형자산처분손실',
 '[960]잡손실',
 '[962]임차보증금',
 '[964]기타보증금',
 '[965]장기외상매출금',
 '[967]대손충당금',
 '[974]장기선급비용',
 '[979]수입보증금',
 '[981]매도가능증권평가익',
 '[109]대손충당금',
 '[110]받을어음',
 '[261]미지급세금',
 '[518]감가상각비',
 '[835]대손상각비',
 '[840]무형고정자산상각',
 '[942]전기오류수정손실',
 '[998]법인세등',
 '[372]중간배당금',
 '[374]기타이익잉여금',
 '[816]전력비',
 '[851]인력개발비',
 '[912]전기오류수정이익',
 '[951]투자자산처분손실',
 '[963]전세권',
 '[199]퇴직보험예치금',
 '[808]퇴직급여']

In [67]:
#분석대상 계정 선택
target_account = input('계정명을 입력하세요: ')

if target_account in accounts:
    print(target_account)
    account_type = input('자산/부채/수익/비용: ')
    
    if account_type == "자산" or account_type == "부채" or account_type == "수익" or account_type == "비용":
        pass
    else:
        raise
else:
    raise

계정명을 입력하세요: [253]미지급금
[253]미지급금
자산/부채/수익/비용: 부채

In [68]:
#속성 설정
증가 = ""
감소 = ""
f_account = ""

if account_type == "자산" or account_type == "비용":
    증가 = "차변"
    감소 = "대변"
elif account_type == "부채" or account_type == "수익":
    증가 = "대변"
    감소 = "차변"
else:
    raise

print("증가: " + 증가)
print("감소: " + 감소)

if account_type == "자산" or account_type == "부채":
    file_name_account = input("기준명세 파일명을 입력하세요: ")
    if file_name_account == "":
        print("명세 생략")
        pass
    else:    
        f_account = pd.read_excel("./"+file_name_account +".xlsx")
        year_account = input("기준년도를 입력하세요: ")
    
        print(year_account)
        display(f_account)

증가: 대변
감소: 차변
기준명세 파일명을 입력하세요: 미지급금_2021
기준년도를 입력하세요: 2021
2021

       코드         거래처명  적요         금액  비고
0   00205      한남와이어컷팅 NaN   26004000 NaN
1   00208         재형정밀 NaN    5113900 NaN
2   00233        마스터OA NaN     231000 NaN
3   00234    리딩브레인/최종운 NaN    3734874 NaN
4   00235        광양특수강 NaN    3168257 NaN
5   00239     태풍정밀/임문택 NaN    8624000 NaN
6   00243      준테크/신경준 NaN    2992000 NaN
7   00255       대광콤프레샤 NaN     165000 NaN
8   00267       한국전력공사 NaN   18795308 NaN
9   00273     (주)한국미스미 NaN     434456 NaN
10  00302     미래테크/임성기 NaN   59471904 NaN
11  00313    대왕캐미칼/이우식 NaN    2616900 NaN
12  00318     현대캐피탈(주) NaN     440660 NaN
13  00341       태성멀티테크 NaN    3520000 NaN
14  00369     씨에스 하이테크 NaN   12046800 NaN
15  00371     프라이밍워터밸리 NaN   24177890 NaN
16  00373   법무사 유봉성사무소 NaN    -440000 NaN
17  00535     웅진정밀/이의청 NaN   18249000 NaN
18  00889         유일산업 NaN    6754000 NaN
19  01047    씨제이대한통운 ㈜ NaN     338500 NaN
20  01057      모아테크(주) NaN   30211500 NaN
21  01222          훼미리 NaN    3632640 NaN
22  01419        피엠텅스텐 NaN     594000 NaN
23  01459     (주)예스레이저 NaN     440000 NaN
24  01618  주식회사에이원씨엔에스 NaN    4510000 NaN
25  01634     드림디포 금정점 NaN      49300 NaN
26  01858   주식회사 소딕코리아 NaN   -1859000 NaN
27  02257        （주）대한 NaN   12795200 NaN
28  02737    유한회사 보성물류 NaN    1507000 NaN
29  02950        서울레이저 NaN    1248500 NaN
30  03020         대진테크 NaN     363000 NaN
31  03024  주식회사동신금형열처리 NaN    1034000 NaN
32  03147         진양상사 NaN     726000 NaN
33  03148    주식회사 덕우기계 NaN    1500000 NaN
34  03295        대명씨앤피 NaN    4312000 NaN
35  03352    주식회사 홈런테크 NaN   14872000 NaN
36  03420   24시황궁(호계점) NaN    -312500 NaN
37  03545         대영비철 NaN    1135750 NaN
38  03578          대성퀵 NaN     198000 NaN
39  03698         화인산업 NaN     244420 NaN
40  03700      (주)듀라소닉 NaN     660000 NaN
41  03794         씨엠테크 NaN  133628000 NaN
42  03802      （주）태호테크 NaN   18286400 NaN
43  03803       에이스이디엠 NaN    4422000 NaN
44  03870        대산ENC NaN    2310000 NaN
45  03941   이삭엔지니어링(주) NaN   18480000 NaN
46  03948   주식회사 한성반도체 NaN     305250 NaN
47  03950    청주터미널퀵서비스 NaN      33000 NaN
48  04037    주식회사 마스터잡 NaN   24766404 NaN
49  04038        화인ENG NaN   -2640000 NaN
50  04048         다온테크 NaN   21989000 NaN
51  04230        한림이푸드 NaN    2366100 NaN
52  04238      한국화낙(주) NaN  107525000 NaN
53  04303         준성기업 NaN   10489600 NaN
54  04304          위너스 NaN   22631000 NaN
55  57901         다솔산업 NaN      88000 NaN
56   합  계          NaN NaN  638980013 NaN

In [69]:
df_target = f_ledger.loc[f_ledger['계정명']== target_account]
df_target

,계정명,년,월,날짜,적요란,코드,거래처,차변,대변,잔액
8522,[253]미지급금,2018,NaN,NaN,전기이월,NaN,NaN,NaN,229685751.0,229685751.0
8523,[253]미지급금,2018,1.0,01-01,월정료 (201802),2616.0,(주)에이디티캡스 화성지사,NaN,56650.0,229742401.0
8524,[253]미지급금,2018,1.0,01-01,월정료 (201801),1989.0,(주)에이디티캡스 용인지사,NaN,104500.0,229846901.0
8525,[253]미지급금,2018,1.0,01-01,"서비스료(20180201~20180228) 1 X 80,000",217.0,(주)에스원 안양,NaN,88000.0,229934901.0
8526,[253]미지급금,2018,1.0,01-01,"서비스료(20180201~20180228) 1 X 125,000",217.0,(주)에스원 안양,NaN,137500.0,230072401.0
...,...,...,...,...,...,...,...,...,...,...
72093,[253]미지급금,2021,12.0,12-31,릴포장,3698.0,화인산업,NaN,244420.0,614832516.0
72094,[253]미지급금,2021,12.0,12-31,임대료,1572.0,창녕성씨청계가문회,NaN,614207.0,615446723.0
72095,[253]미지급금,2021,12.0,12-31,M.T외,313.0,대왕캐미칼/이우식,NaN,2616900.0,618063623.0
72096,[253]미지급금,2021,12.0,12-31,가공비,4304.0,위너스,NaN,22451000.0,640514623.0
72097,[253]미지급금,2021,12.0,12-31,현대캐피탈,318.0,현대캐피탈(주),1534610.0,NaN,638980013.0

In [70]:
client_codes = set(df_target['코드'].tolist())
client_codes = [code for code in client_codes if np.isnan(code) == False]

정렬 = []
client_names = []
for code in client_codes:
    정렬.append(df_target.loc[df_target['코드']== code][증가].sum())
    client_names.append(df_target.loc[df_target['코드']== code]['거래처'].tolist()[0])

df_index = pd.DataFrame({'code':client_codes,'name':client_names,'정렬':정렬})
df_index = df_index.sort_values(by='정렬', ascending=False)
df_index = df_index.reset_index()
del df_index['index']
del df_index['정렬']


df_index

       code        name
0     302.0    미래테크/임성기
1     243.0     준테크/신경준
2    1046.0       매일케미칼
3     194.0  (주)에이치앤디테크
4    3794.0        씨엠테크
..      ...         ...
433  3901.0    LK 인더스트리
434  2885.0      베스트 테크
435  2287.0        영신장식
436  1790.0     동신금형열처리
437  1035.0    제이에스（JS）

[438 rows x 2 columns]

In [71]:
years = []
months = []

for year in df_target['년'].tolist():
    if year not in years:
        years.append(year)

for month in range(1,13):
    months.append(month)
    

print(years)
print(months)

[2018, 2019, 2020, 2021]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [72]:
df_증가_월 = df_index.copy()
df_감소_월 = df_index.copy()
df_증가_년 = df_index.copy()
df_감소_년 = df_index.copy()

#월단위 증가
for year in years:
    for month in months:
        year_month = str(year)+"-"+str(month)
        
        year_month_list_증가_월 = []
        
        for code in df_index['code']:
            year_month_list_증가_월.append(df_target.loc[(df_target['코드'] == code)&(df_target['년']== year)&(df_target['월']==month),증가].sum())
        
        df_증가_월[year_month] = year_month_list_증가_월

#월단위 감소
for year in years:
    for month in months:
        year_month = str(year)+"-"+str(month)
        
        year_month_list_감소_월 = []
        
        for code in df_index['code']:
            year_month_list_감소_월.append(df_target.loc[(df_target['코드'] == code)&(df_target['년']== year)&(df_target['월']==month),감소].sum())
 
        df_감소_월[year_month] = year_month_list_감소_월

#연단위 증가
for year in years:
    year_list_증가_년 = []
    
    for code in df_index['code']:
        year_list_증가_년.append(df_target.loc[(df_target['코드'] == code)&(df_target['년'] == year),증가].sum())
        
    df_증가_년[year] = year_list_증가_년

for year in years:
    year_list_감소_년 = []
    
    for code in df_index['code']:
        year_list_감소_년.append(df_target.loc[(df_target['코드'] == code)&(df_target['년'] == year),감소].sum())
        
    df_감소_년[year] = year_list_감소_년
    
    
display(df_증가_월)
display(df_감소_월)
display(df_증가_년)
display(df_감소_년)

,code,name,2018-1,2018-2,2018-3,2018-4,2018-5,2018-6,2018-7,2018-8,...,2021-3,2021-4,2021-5,2021-6,2021-7,2021-8,2021-9,2021-10,2021-11,2021-12
0,302.0,미래테크/임성기,85484528.0,34326225.0,53654889.0,28592633.0,24795164.0,27003986.0,30484972.0,38882312.0,...,47751616.0,88348304.0,53105196.0,76379243.0,83656524.0,84935333.0,95743105.0,63124487.0,42612722.0,31051382.0
1,243.0,준테크/신경준,82732000.0,0.0,26207500.0,14030500.0,0.0,23826000.0,25652000.0,11858000.0,...,17391000.0,37077700.0,23023000.0,9372000.0,26499000.0,12375000.0,0.0,63866000.0,0.0,2992000.0
2,1046.0,매일케미칼,17663250.0,23903000.0,64377500.0,29507500.0,45999250.0,1526250.0,15578750.0,19808250.0,...,65381250.0,110873125.0,25479575.0,35629000.0,11550000.0,83220500.0,98213500.0,62449750.0,81045250.0,75231750.0
3,194.0,(주)에이치앤디테크,74814000.0,28604400.0,0.0,37622200.0,11313500.0,26508900.0,17980600.0,19429300.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3794.0,씨엠테크,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,101101000.0,106953000.0,100584000.0,102982000.0,91905000.0,87505000.0,12276000.0,113047000.0,68530000.0,73898000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,3901.0,LK 인더스트리,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
434,2885.0,베스트 테크,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
435,2287.0,영신장식,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
436,1790.0,동신금형열처리,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
437,1035.0,제이에스（JS）,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,code,name,2018-1,2018-2,2018-3,2018-4,2018-5,2018-6,2018-7,2018-8,...,2021-3,2021-4,2021-5,2021-6,2021-7,2021-8,2021-9,2021-10,2021-11,2021-12
0,302.0,미래테크/임성기,11472074.0,50538244.0,0.0,25484528.0,34326225.0,53654889.0,28592633.0,12397582.0,...,102278301.0,63552234.0,43208297.0,98045904.0,52955596.0,76379243.0,101826412.0,78356325.0,85279417.0,66289495.0
1,243.0,준테크/신경준,4510000.0,10384000.0,0.0,4653000.0,72732000.0,26207500.0,14030500.0,0.0,...,135866500.0,28402000.0,17391000.0,37077700.0,23023000.0,9372000.0,26499000.0,12375000.0,0.0,63866000.0
2,1046.0,매일케미칼,17663250.0,23903000.0,64377500.0,29507500.0,45999250.0,0.0,17105000.0,0.0,...,65381250.0,110873125.0,25479575.0,35629000.0,11550000.0,83220500.0,98213500.0,62449750.0,81045250.0,75231750.0
3,194.0,(주)에이치앤디테크,12203400.0,29591100.0,0.0,25931400.0,20707500.0,14807100.0,27382300.0,10932900.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3794.0,씨엠테크,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,112970000.0,48290000.0,101101000.0,113553000.0,107184000.0,98032000.0,91905000.0,80905000.0,12276000.0,120197000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,3901.0,LK 인더스트리,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
434,2885.0,베스트 테크,770000.0,385000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
435,2287.0,영신장식,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
436,1790.0,동신금형열처리,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
437,1035.0,제이에스（JS）,385000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

       code        name         2018         2019         2020          2021
0     302.0    미래테크/임성기  371057117.0  336892826.0  347038372.0  8.281381e+08
1     243.0     준테크/신경준  291468000.0  516300600.0  645503100.0  3.568642e+08
2    1046.0       매일케미칼  292638500.0  250981500.0  414119750.0  6.963228e+08
3     194.0  (주)에이치앤디테크  378172000.0  642081100.0  546876810.0  0.000000e+00
4    3794.0        씨엠테크          0.0          0.0  309503700.0  1.031041e+09
..      ...         ...          ...          ...          ...           ...
433  3901.0    LK 인더스트리          0.0          0.0          0.0  0.000000e+00
434  2885.0      베스트 테크          0.0          0.0          0.0  0.000000e+00
435  2287.0        영신장식          0.0          0.0          0.0  0.000000e+00
436  1790.0     동신금형열처리          0.0          0.0          0.0  0.000000e+00
437  1035.0    제이에스（JS）          0.0          0.0          0.0  0.000000e+00

[438 rows x 6 columns]

       code        name         2018         2019         2020          2021
0     302.0    미래테크/임성기  278731472.0  320245095.0  393097900.0  8.335904e+08
1     243.0     준테크/신경준  369169000.0  321758500.0  597748200.0  5.280152e+08
2    1046.0       매일케미칼  292638500.0  250981500.0  414119750.0  6.963228e+08
3     194.0  (주)에이치앤디테크  273123650.0  568755550.0  725765810.0  0.000000e+00
4    3794.0        씨엠테크          0.0          0.0  162521700.0  1.044395e+09
..      ...         ...          ...          ...          ...           ...
433  3901.0    LK 인더스트리          0.0          0.0          0.0  0.000000e+00
434  2885.0      베스트 테크    1155000.0     660000.0          0.0  0.000000e+00
435  2287.0        영신장식          0.0     209000.0          0.0  0.000000e+00
436  1790.0     동신금형열처리          0.0          0.0          0.0  0.000000e+00
437  1035.0    제이에스（JS）     385000.0          0.0          0.0  0.000000e+00

[438 rows x 6 columns]

In [73]:
if account_type == "수익" or account_type == "비용" or file_name_account == "":
    pass
else:

    code_f = []
    for code in f_account['코드']:
        try:
            code_f.append(float(code))
        except:
            code_f.append(None)

    f_account['코드_실수'] = code_f

    기준잔액 = []
    for code in df_index['code']:
        if code in f_account['코드_실수'].tolist():
            기준잔액.append(f_account.loc[f_account['코드_실수']== code,'금액'].sum())
        else:
            기준잔액.append(0)

    기준잔액

In [74]:
if account_type == "수익" or account_type == "비용" or file_name_account == "":
    pass
else:

    df_잔액_월 = df_index.copy()

    #증감생성
    for year in years:
        for month in months:
            year_month = str(year)+"-"+str(month)

            year_month_list_잔액_월 = []

            if month == 12 and year == years[-1]:
                year_month_list_잔액_월 = 기준잔액
                df_잔액_월[year_month] = year_month_list_잔액_월

            elif month == 12 :
                for code in df_index['code']:
                    year_month_list_잔액_월.append(df_감소_월.loc[(df_감소_월['code'] == code),str(year+1)+"-"+str(1)].sum()-df_증가_월.loc[(df_증가_월['code'] == code),str(year+1)+"-"+str(1)].sum())

                df_잔액_월[year_month] = year_month_list_잔액_월

            else:
                for code in df_index['code']:
                    year_month_list_잔액_월.append(df_감소_월.loc[(df_감소_월['code'] == code),str(year)+"-"+str(month+1)].sum()-df_증가_월.loc[(df_증가_월['code'] == code),str(year)+"-"+str(month+1)].sum())

                df_잔액_월[year_month] = year_month_list_잔액_월


    display(df_잔액_월)

,code,name,2018-1,2018-2,2018-3,2018-4,2018-5,2018-6,2018-7,2018-8,...,2021-3,2021-4,2021-5,2021-6,2021-7,2021-8,2021-9,2021-10,2021-11,2021-12
0,302.0,미래테크/임성기,16212019.0,-53654889.0,-3108105.0,9531061.0,26650903.0,-1892339.0,-26484730.0,11479425.0,...,-24796070.0,-9896899.0,21666661.0,-30700928.0,-8556090.0,6083307.0,15231838.0,42666695.0,35238113.0,59471904
1,243.0,준테크/신경준,10384000.0,-26207500.0,-9377500.0,72732000.0,2381500.0,-11621500.0,-11858000.0,-1958000.0,...,-8675700.0,-5632000.0,27705700.0,-3476000.0,-3003000.0,26499000.0,-51491000.0,0.0,60874000.0,2992000
2,1046.0,매일케미칼,0.0,0.0,0.0,0.0,-1526250.0,1526250.0,-19808250.0,19808250.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,194.0,(주)에이치앤디테크,986700.0,0.0,-11690800.0,9394000.0,-11701800.0,9401700.0,-8496400.0,-3692700.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,3794.0,씨엠테크,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-58663000.0,517000.0,10571000.0,15279000.0,10527000.0,79629000.0,-32142000.0,-56254000.0,46299000.0,133628000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,3901.0,LK 인더스트리,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
434,2885.0,베스트 테크,385000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
435,2287.0,영신장식,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
436,1790.0,동신금형열처리,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
437,1035.0,제이에스（JS）,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [75]:
if account_type == "수익" or account_type == "비용" or file_name_account == "":
    pass
else:

    for year in range(years[-1], years[0]-1, -1):
        for month in range(months[-1],months[0]-1,-1):
            if month == 12 and year == years[-1]:
                pass
            elif month == 12:
                for i in range(len(df_잔액_월['code'])):
                    df_잔액_월[str(year)+"-"+str(month)][i] = df_잔액_월[str(year)+"-"+str(month)][i] + df_잔액_월[str(year+1)+"-"+str(1)][i]
            else:
                for i in range(len(df_잔액_월['code'])):
                    df_잔액_월[str(year)+"-"+str(month)][i] = df_잔액_월[str(year)+"-"+str(month)][i] + df_잔액_월[str(year)+"-"+str(month+1)][i]

    display(df_잔액_월)

<ipython-input-75-1564090022c0>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_잔액_월[str(year)+"-"+str(month)][i] = df_잔액_월[str(year)+"-"+str(month)][i] + df_잔액_월[str(year)+"-"+str(month+1)][i]
<ipython-input-75-1564090022c0>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_잔액_월[str(year)+"-"+str(month)][i] = df_잔액_월[str(year)+"-"+str(month)][i] + df_잔액_월[str(year+1)+"-"+str(1)][i]

,code,name,2018-1,2018-2,2018-3,2018-4,2018-5,2018-6,2018-7,2018-8,...,2021-3,2021-4,2021-5,2021-6,2021-7,2021-8,2021-9,2021-10,2021-11,2021-12
0,302.0,미래테크/임성기,76022772.0,59810753.0,113465642.0,116573747.0,107042686.0,80391783.0,82284122.0,108768852.0,...,106408531.0,131204601.0,141101500.0,119434839.0,150135767.0,158691857.0,152608550.0,137376712.0,94710017.0,59471904
1,243.0,준테크/신경준,87769000.0,77385000.0,103592500.0,112970000.0,40238000.0,37856500.0,49478000.0,61336000.0,...,45793000.0,54468700.0,60100700.0,32395000.0,35871000.0,38874000.0,12375000.0,63866000.0,63866000.0,2992000
2,1046.0,매일케미칼,0.0,0.0,0.0,0.0,0.0,1526250.0,0.0,19808250.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,194.0,(주)에이치앤디테크,63125700.0,62139000.0,62139000.0,73829800.0,64435800.0,76137600.0,66735900.0,75232300.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,3794.0,씨엠테크,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,149391000.0,208054000.0,207537000.0,196966000.0,181687000.0,171160000.0,91531000.0,123673000.0,179927000.0,133628000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,3901.0,LK 인더스트리,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
434,2885.0,베스트 테크,1045000.0,660000.0,660000.0,660000.0,660000.0,660000.0,660000.0,660000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
435,2287.0,영신장식,209000.0,209000.0,209000.0,209000.0,209000.0,209000.0,209000.0,209000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
436,1790.0,동신금형열처리,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
437,1035.0,제이에스（JS）,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [76]:
result_file_name = input("저장할 파일명을 입력하세요: ")

writer = pd.ExcelWriter( result_file_name +'.xlsx', engine = 'xlsxwriter')

df_증가_월.to_excel(writer, sheet_name = '증가(월)')
df_감소_월.to_excel(writer, sheet_name = '감소(월)')
df_증가_년.to_excel(writer, sheet_name = '증가(년)')
df_감소_년.to_excel(writer, sheet_name = '감소(년)')

if account_type == "수익" or account_type == "비용" or file_name_account == "":
    pass
else:
    df_잔액_월.to_excel(writer, sheet_name = '잔액(월)')

writer.save()

저장할 파일명을 입력하세요: 미지급금